[Desktop Entry]
Name=COSMIC Screenshot
Name[ar]=لقطة شاشة COSMIC
Name[cs]=Snímky obrazovky COSMIC
Name[es]=Captura de pantalla
Name[pl]=Zrzuty ekranu COSMIC
Name[pt]=Captura de Tela
Name[ru]=Снимок экрана
Name[sv]=COSMIC Skärmbild
Name[zh_CN]=COSMIC 截图
Name[nl]=COSMIC schermafdrukken
Name[af]=COSMIC skermafdrukke
Name[hu]=COSMIC Képernyőkép
Type=Application
Exec=cosmic-screenshot
Terminal=false
Categories=COSMIC;Utility;
Keywords=COSMIC;capture;screenshot;
Keywords[ar]=لقطة;صورة;شاشة;لقطة شاشة;
Keywords[cs]=Screenshot;snímek;snímky;zachytit;
Keywords[es]=Screenshot;Captura;Imprimir;Print;
Keywords[pt]=screenshot;print;
Keywords[ru]=Скриншот;Снимок;Экрана;
Keywords[sv]=COSMIC;fånga;skärmbild;inspelning;
Keywords[nl]=COSMIC;afdruk;schermafdruk;
Keywords[af]=COSMIC;afdruk;skermafdruk;
Keywords[hu]=rögzítés;
Icon=com.system76.CosmicScreenshot
StartupNotify=true
